<launch>
    <arg name="color_width" default="640"/>
    <arg name="color_height" default="480"/>
    <arg name="color_fps" default="15"/>
    <arg name="enable_accel" default="true"/>
    <arg name="enable_gyro" default="true"/>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch"
    pass_all_args="true"/>
</launch>